{% extends "base.html" %}
{% load crispy_forms_tags%}
{% block javascript %}
 <script>
    $(function(){
         $('#id_depositAmount').keyup(function(e){
            var amount = $("#id_depositAmount")[0].value;
            if(amount == ""){
                $('#deposit').prop("disabled", true);
            }
            else{
                $('#deposit').prop("disabled", false);
            }
        });
    });
  </script>
{% endblock %}
{% block content %}
<div>
    <div>
        <h2>Initiate fund deposit</h2><br><br>
    </div>
    <div class="form-group">
    <form action='./depositFund' method="post">
        {% csrf_token %}
        {{form|crispy}}

        <input type="submit" id="deposit" value="Deposit" disabled >
    </form>
</div>
</div>
{% endblock content %}