{% extends "base.html" %}
{% block javascript %}
{% endblock %}
{% block content %}

<div>
    <div>
        <h2>View customer</h2><br><br>
    </div>
    <div class="form-group">
        <form action='./searchCustomer' method="post">
            <label>Search Customer:</label>
            {% csrf_token %}
            <input type="text" id="customerSearchString" class="form-control" name="customerSearchString" value={{customerSearchString}}><br>
            <input type="hidden" name="context_page" value="view_customer">
            <input type="submit" value="Search" class="btn btn-primary float-right app-submit"><br><br>
        </form>
    </div>

    <div>
        <table class="table table-hover">
            <thead class="thead-dark">
               <tr>
                  <th>Customer Name</th>
                  <th>Customer ID</th>
                  <th>Account ID</th>
                  <th>Account Type</th>
              </tr>
            </thead>
          {% for customer in customers %}
                <tr>
                    <td name="customerName">{{customer.customerName}}</td>
                    <td name="customerId">{{customer.customerId}}</td>
                    <td name="accountId">${{customer.accountId}}</td>
                    <td name="accountType">{{customer.accountType}}</td>
                    <td>
                        <form method="POST" action="./viewCustomer">
                            {% csrf_token %}
                            <input type="hidden" name="customerName" value="{{customer.customerName}}">
                            <input type="hidden" name="customerId" value="{{customer.customerId}}">
                            <input type="hidden" name="accountId" value="{{customer.accountId}}">
                            <input type="hidden" name="accountType" value="{{customer.accountType}}">
                            <input type="submit" value="Select" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}