{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            Enter OTP
        </title>
        <meta name="description" content="">
        <meta name="keywords" content="jQuery OnScreen Keyboard">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/jsKeyboard.css" type="text/css" media="screen"/>

        <script type="text/javascript">
            (function () {
                var bsa = document.createElement('script');
                bsa.type = 'text/javascript';
                bsa.async = true;
                bsa.src = 'http://s3.buysellads.com/ac/bsa.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(bsa);
            })();
        </script>
        <!-- End BuySellAds Ad Code -->

        <script src="../static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <form method="POST" action='/login/otp'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Confirm OTP">
        </form>
        <div id="virtualKeyboard"></div>
    </body>
    <script src="../static/js/vendor/jquery-1.9.1.min.js"></script>
    <script src="../static/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/jsKeyboard.js"></script>
    <script src="../static/js/main.js"></script>
</html>
