{% extends "base.html" %} {% block content %}
<div>
    <div>
        <h2>Withdraw</h2><br><br>
    </div>
    <div id="withdrawForm" class="form-group">
        <form action='/withdraw' method="post" onsubmit="return validateWithdraw()">
            {% csrf_token %}
            <label for="withdrawAccount">From Account:</label>
            <select id="withdrawAccount" class="form-control" name="withdrawAccount">
              {% for number, type in accounts %}
                  <option value="{% number %}">{% type %}</option>
              {% endfor %}
          </select>
            <br><br>
            <label for="withdrawAmount">Amount:</label>
            <input type="number" id="withdrawAmount" step="0.01" class="form-control" name="withdrawAmount" min="0.01"><br><br>
            <input type="submit" value="Submit" class="btn btn-primary float-right app-submit">
        </form>
    </div>
</div>
<script>
    function validateWithdraw() {
        let accountNumber = document.getElementById("withdrawAccount").value;
        let amount = document.getElementById("withdrawAmount").value;
        let accounts = "{{accounts}}";

        // Checks on account number
        if (accountNumber === null || accountNumber === undefined || accountNumber === "") {
            alert("Please select an account.");
            return false;
        }

        if (!accounts.filter("number").includes(accountNumber)) {
            alert("Please select an existing account.");
            return false;
        }

        if (amount < 0.01) {
            alert("Please enter an amount value of at least 0.01.");
            return false;
        }

        return true;
    }
</script>
{% endblock content %}