{% extends "customer_homepage.html" %}
{% block content %}

<form action='/user_home/delete_account/' method="POST">
    {% csrf_token %}
    <label for="account_number">Account:</label>
    <select id="account_number" class="form-control" name="account_number">
      {% for value in accounts %}
          <option value="{{ value.number }}">{{ value.type }} {{ value.number }}</option>
      {% endfor %}
  </select>
    <input type="submit" value="Submit" class="btn btn-primary float-right app-submit">
</form>
{% endblock content %}

