{% extends "base.html" %}

{% block menu %}

<li class="list-group-item list-group-item-light menu" id="fundTransfer">
  <a href="http://{{ request.get_host }}/internal_user/initFundDeposit">Initiate fund deposit</a> </li>
<li class="list-group-item list-group-item-light menu" id="issueCheque">
  <a href="http://{{ request.get_host }}/internal_user/initIssueCheque">Issue cashier cheque</a> </li>
<li class="list-group-item list-group-item-light menu" id="transferFund">
  <a href="http://{{ request.get_host }}/transaction/initfundTransfer">Transfer money</a> </li>
<li class="list-group-item list-group-item-light menu" id="viewCustomerAccount">
  <a href="http://{{ request.get_host }}/internal_user/initViewCustomer">View customer account</a> </li>

{% endblock menu%}




