{% extends "base.html" %}

{% block menu %}

<li class="list-group-item list-group-item-light menu" id="createEmp">
  <a href="http://{{ request.get_host }}/admin_app/createEmployee">Create employee account</a> </li>
<li class="list-group-item list-group-item-light menu" id="modifyEmp">
  <a href="http://{{ request.get_host }}/admin_app/modifyEmployee">Modify employee account</a> </li>
<li class="list-group-item list-group-item-light menu" id="deleteEmp">
  <a href="http://{{ request.get_host }}/admin_app/deleteEmployee">Delete employee account</a> </li>

{% endblock menu%}

{% block content %}
{% endblock content%}