{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <meta charset="UTF-8">
    <title>Secure Bank App</title>
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/user_home/logout/">Logout</a>
                </div>
            </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="content-section">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light menu" id="MakeAppointment">
                            <a href="/user_home/appointment/">Make Appointment</a> </li>
                        <li class="list-group-item list-group-item-light menu" id="UpdateProfile">
                            <a href="/user_home/profile_update/">Update Profile</a> </li>
                        <li class="list-group-item list-group-item-light menu" id="AddNewAccount">
                            <a href="/user_home/new_account/">Add New Account</a> </li>
                        <li class="list-group-item list-group-item-light menu" id="DeleteAccount">
                            <a href="/user_home/delete_account/">Delete Account</a> </li>
                        <li class="list-group-item list-group-item-light menu" id="Deposit">
                            <a href="/user_home/deposit/">Deposit</a> </li>
                        <li class="list-group-item list-group-item-light menu" id="Withdraw">
                            <a href="/user_home/withdraw/">Withdraw</a> </li>
                        <li class="list-group-item list-group-item-light menu" id="GetStatement">
                            <a href="/user_home/getStatement/">Download Statement</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                {% if messages %} {% for message in messages%}
                <div class="alert alert-{{message.tags}}">
                    {{ message }}
                </div>
                {% endfor %} {% endif %} {% block content %}{% endblock %}
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block javascript %}{% endblock %}
</body>

</html>